@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/home";

.app {
    background-color: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100%;
    overflow: hidden;
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

.content-page {
    flex: 1 1 auto;
    display: flex;
}
