.ListBox {
    position: relative;
}

.ListLabel {
    font-size: var(--font-size-m);
}

.ListTrigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.ListButton {
    background-color: var(--inverted-bg-color);
    padding: 0 10px;
    border-radius: 4px;
    color: var(--inverted-primary-color);
    border: 2px solid var(--border-color);
    box-shadow: 4px 4px 8px var(--box-shadow-color);
    font-size: var(--font-size-m);
}

.ListOptions {
    position: absolute;
    z-index: 10000;
    min-width: 100%;
    background-color: var(--inverted-bg-color);
    padding: 0 12px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px var(--box-shadow-color);
}

.ListOption {
    color: var(--inverted-primary-color);
    font-size: var(--font-size-m);
}

.active {
    filter: brightness(50%);
}

.disabled {
    opacity: 0.7;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;
}
