.ArticleDetails {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.SceletonWrapper {
    width: 100%;
}

.CircleSceleton {
    margin: 0 auto 20px;
    align-self: center;
}

.SquareSceleton:not(:last-child) {
    margin-bottom: 20px;
}

.ArticleDetailsAvatarWrapper {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.ArticleDetailsAvatar {
   object-fit: cover;
}


.ArticleDetailsText {
    max-width: 1200px;
    margin: 0 auto 10px 0;
}

.TextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-right: auto;
    fill: var(--primary-color);
}

.TextWrapper:not(:last-child) {
    margin-bottom: 10px;
}