.AddCommentForm {
    width: 1200px;
    border: 2px solid var(--primary-color);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}