.Item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon {
    font-size: 40px;
    margin-left: 10px;
    transition: all 0.5s linear;
}

.link {
    opacity: 1;
    width: auto;
    transition: all 0.5s linear;
    font-size: 18px;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
    }

    .icon {
        font-size: 40px;
        margin-left: 0;
    }
}
