.ProfilePage {
  background: url("https://pibig.info/uploads/posts/2022-11/1668754383_28-pibig-info-p-legkie-arti-vkontakte-28.jpg")
      no-repeat top/ 640px,
    var(--bg-color);
  width: 100%;
  height: 100%;
}
