:root,
.app_dark_theme {
    --bg-color: #a0b1de;
    --inverted-bg-color: #fdd3d9;
    --primary-color: #dff9ff;
    --inverted-primary-color: #767892;
    --secondary-color: #d3fdf7;
    --inverted-secondary-color: #00256f;
    --additional-color: #00256f;
    --inverted-additional-color: #d3fdf7;
    --text-color: #ff4081;
    --additional-text-color: #ba68c8;
    --icon-color: #a0b1de;
    --applink-color: #00bcd4;
    --code-bg: #dff9ff;
    --input-color: #fcfdfd;
    --card-color: #466fdf;

    // skeleton
    --skeleton-color: #7a8fc9af;
    --skeleton-shadow: #7a8fc9af;
}
