.app.dark {
    --bg-color: #A0B1DE;
    --inverted-bg-color:#FDD3D9;
    --primary-color: #FCFDFD ;
    --inverted-primary-color: #767892;
    --secondary-color: #d3fdf7;    
    --inverted-secondary-color: #00bcd4;
    --additional-color:#929076;
    --inverted-additional-color:#decda0;
}