.app.dark {
    --bg-color: #3535ab;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #a0a6a0;
    --secondary-color: #46af46;
    --inveted-primary-color: #001a67;
    --inveted-secondary-color: #88d25f;
}
