:root,
.app_home_theme {
    --bg-color: #00b4d8;
    --inverted-bg-color: #caf0f8;
    --primary-color: #c1eaff;
    --inverted-primary-color: #00a6fb;
    --secondary-color: #a928f5;
    --inverted-secondary-color: #ef96ff;
    --additional-color: #06677a;
    --inverted-additional-color: #d2e6eb;
    --text-color: #ff4081;
    --additional-text-color: #902549;
    --icon-color: #00b4d8;
    --applink-color: #a928f5;
    --code-bg: #fcfdfd;
    --input-color: #fcfdfd;
    --card-color: #0086c9;
    // listbox
    --listbox-color: #00bcd4;
    --box-shadow-color: #76789273;
    --border-color: #30dbfd;
    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}

// Chargeback@privatbank.ua,