:root,
.app_home_theme {
  --bg-color: #00b4d8;
  --inverted-bg-color: #caf0f8;
  --primary-color: #c1eaff;
  --inverted-primary-color: #00a6fb;
  --secondary-color: #ef96ff;
  --inverted-secondary-color: #A928f5;
  --additional-color: #06677a;
  --inverted-additional-color: #d2e6eb;
  --text-color: #ff4081;
  --additional-text-color: #902549;
}