:root {
    --bg-color: #fdd3d9;
    --inverted-bg-color: #a0b1de;
    --primary-color: #767892;
    --inverted-primary-color: #fcfdfd;
    --secondary-color: #00bcd4;
    --inverted-secondary-color: #d3fdf7;
    --additional-color: #decda0;
    --inverted-additional-color: #929076;
}
