:root {
     --bg-color:#FDD3D9 ;
     --inverted-bg-color: #A0B1DE;
     --primary-color: #767892;
     --inverted-primary-color:#FCFDFD ;
     --secondary-color: #00bcd4 ;   
     --inverted-secondary-color: #d3fdf7;
     --additional-color:#decda0;
     --inverted-additional-color:#929076;

}
