.EditableProfileCard {
    position: absolute;
    z-index: 10;
    padding: 0 0 40px;
}

.ErrorBlock {
    width: auto;
    position: absolute;
    z-index: 15;
    bottom: 30px;
    margin: 0 auto;
}
